h1,
h2,
p,
a,
body{
  Font-family: Verdana;
  background-color: black;
}

h1{
  Font-weight: 100;
  Font-size: 50px;
  Color: white;
  text-align: center;
}


h2{
  Font-weight: 300;
  Font-size: 42px;
  Color: white;
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.link {
  Font-size: 16px;
  Color: aquamarine;
  text-align: center;
}


a, a:visited, a:hover, a:active{
  color:inherit;;
}

p {
  Font-size: 21px;
  Color: Gray;
  text-align: center;
}

#copyright {
  Text-align: Right;
  Color: Gray;
}
#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  margin-top: 30px;
}
